<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <section>    
        <div class="container p-4">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center fs-4">Create New Account</div>
                        
                        <!-- Display the message if available -->
                        <th:block th:if="${msg}">
							<p class="text-center fs-4 text-success">[[${msg}]]</p>	
                        </th:block>
						
                        <div class="card-body">
                            <form action="createUser" method="post">
                                <div class="mb-3">
                                    <label>Full Name</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>
								<div class="mb-3">
								    <label>Email address</label>
								    <input type="email" class="form-control" name="email" required>
								</div>
								<div class="mb-3">
								    <label>Phone number</label>
								    <input type="number" class="form-control" name="phoneNo" required>
								</div>
                                <div class="mb-3">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary col-md-12">Register</button>
                            </form>
                        </div>
                    </div>        
                </div>            
            </div>
        </div>
    </section>
</body>
</html>
